<div class="row hidden-sm hidden-xs" style="padding-top:20px; text-align:center">
    <div class="col-md-10 col-md-offset-1">
        <div class="sectionFilter">
            <ul id="subMenuItems">
                <li><a ng-click="specialPlatterFocus('single')"ng-class="{subActive: selectedSpecialPlatter === 'single'}">Single</a></li>
                <li><a ng-click="specialPlatterFocus('fries')"ng-class="{subActive: selectedSpecialPlatter === 'fries'}">w. Fried Rice or French Fries</a></li>
                <li><a ng-click="specialPlatterFocus('pork')"ng-class="{subActive: selectedSpecialPlatter === 'pork'}">w. Chicken or Pork Fried rice</a></li>
                <li><a ng-click="specialPlatterFocus('shrimp')"ng-class="{subActive: selectedSpecialPlatter === 'shrimp'}">w. Shrimp or Beef Fried Rice</a></li>

                
            </ul>
        </div>
    </div>
</div><!--end row-->

<div class="row" >
    <div class="col-md-12">
                <div class="menuWrapper">                
                   <div class="menuHeader"><h3>{{menuSections[4].name}}</h3></div>
                <div id="hspecials" class="menuLayout">
                    
                        <table ng-repeat="menu in menuData | filter:{menuType: 'Special Platters'}" class="table table-responsive borderless">
                           
                                <tr>
                                    <td nowrap>
                                    <!--<span class="chinese">{{ menu.cDish }}</span>-->
                                    <span class="english">{{menu.dish}}</span></td>
                                    <td width="100%"><span class="elipsis"></span></td>
                                    <td nowrap><span class="price" ng-show="selectedSpecialPlatter === 'single'">{{ menu.price | currency }} </span><span class="price" ng-show="selectedSpecialPlatter === 'fries'">{{ menu.priceRice | currency }} </span><span class="price" ng-show="selectedSpecialPlatter === 'pork'">{{ menu.pricePorkRice | currency }} </span><span class="price" ng-show="selectedSpecialPlatter === 'shrimp'">{{ menu.priceShrimpRice | currency }} </span> </td>
                                    
                                </tr>
                            
                        </table>
                    
                </div><!--end hspecials-->
            </div>
          </div>
</div><!--end row-->
<script>
TweenMax.staggerTo(".menuWrapper", .2, {
         y:"50px",
         opacity:1,
         delay:0.2,
        ease: Sine.easeOut
      },.1);

</script>